.h1 {
  color: blue;
  background-color: silver;
  font-style: italic;
  font-size: 60px;
  text-align: center;
  padding: 35px 35px;

}
.about {
  float: right;
  background-color: skyblue;

}
h3 {
  font-size: 30px;
  color: orange;
}
